@import 'reset.css';
header {
    height: 0.88rem;
    line-height: 0.88rem;
    color: #4ebbfe;
    font-size: 0.38rem;
    text-align: center;
    position: relative;
    background-color: #fbfeff;
}
header span  a::after {
    position:absolute;
    content: '\e693';
    font-family: "iconfont";
    width: 0.25rem;
    height: 0.42rem;
    color: #36a8fe;
    left: 0.24rem;

}

.title {
    color: #35db82;
    font-size: 0.32rem;
    position: relative;
    left: 0.25rem;
    padding: 0 0.30rem;
}
.title:before {
    content: '';
    position: absolute;
    width: 0.1rem;
    height: 0.05rem;
    background-color: #35db82;
    box-shadow: 0  0.02rem 0.05rem 0
    rgba(53, 219, 130, 0.43);
    border-radius: 0.03rem;
    left: 0rem;
    top: 0.2rem;
}
.title span {
    color: #4f5b64;

}