@import "reset.css";
header {
    box-shadow: 0 0.03rem 0.43rem 0
    rgba(41, 167, 255, 0.13);

}
.img_wrapper {
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.img_wrapper img {
    width: 3.01rem;
    height: 3.62rem;
}
.recommend {
    padding: 0 0.22rem;
}
.recommend .recommend_title h3 {
    font-size: 0.3rem;
    color: #000000;
    opacity: 0.6;
}
.recommend .recommend_content {
    font-size: 0.22rem;
    color: #000000;
    opacity: 0.3;
}
.recommend  .recommend_message span:nth-child(1) {
    color: #fbb548;
    font-size: 0.26rem;
    margin-right: 0.22rem;
}

.recommend  .recommend_message span:nth-child(2) {
    display: inline-block;
    width: 0.78rem;
    height: 0.36rem;
    background-color: rgba(65,178,252,0.1);
    border-radius: 0.18rem;
    font-size: 0.2rem;
    color: #41b2fc;
    text-align: center;
    margin-right: 0.28rem;
}
.recommend  .recommend_message span:nth-child(3) {
    display: inline-block;
    width: 1.13rem;
    height: 0.36rem;
    background-color: rgba(54,214,129,0.1);
    border-radius: 0.18rem;
    color: #36d681;
    font-size: 0.2rem;
    text-align: center;
}
.recommend_message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.recommend .recommend_message .right  .sell_number {
    color: #36a8fe;
    font-size: 0.24rem;
}
.recommend .recommend_message .right .sell {
    font-size: 0.2rem;
   color: #afb1b2;
    position: relative;
}
.recommend_message .right .sell:before {
    position: absolute;
    content: '';
    background-color: #36d681;
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    left: -0.1rem;
    top: 0.12rem;

}

.discount {
    padding: 0 0.22rem;
    height: 0.85rem;
    border: 1px solid #f0f5f7;
    border-left: none;
    border-right: none;
    margin-top: 0.24rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.discount .discount_card img {
    display: inline-block;
    width: 0.8rem;
    height: 1rem;
    margin-top: 0.28rem;
}
.discount .get_card {
    font-size: 0.24rem;
    color: #ff844e;
    width: 0.6rem;
    height: 0.24rem;
    margin-left: 0.1rem;
    margin-right: 0.14rem;

}
.discount .discount_right {

    width: 1.84rem;
    height: 0.39rem;
    background-image: linear-gradient(270deg,
    #ffca3b 0%,
    #ff933b 100%),
    linear-gradient(
            #ffc471,
            #ffc471);
    background-blend-mode: normal, normal;
    box-shadow: 0  0.04rem 0.16rem 0 rgba(255, 142, 81, 0.3);
    border-radius: 0.2rem;
    color: #fbfeff;
    font-size: 0.24rem;
    text-align: center;
}

.agreement {
    height: 0.76rem;
    border-bottom: 1px solid #f0f5f7;
    padding: 0 0.22rem;
}

.agreement ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.agreement ul li {
    flex-grow: 1;
    color: #41b2fc;
    font-size: 0.24rem;
    position: relative;
    left: 0.06rem;
}

.agreement ul li:before {
    position: absolute;
    content: '';
    background-color: #36d681;
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    left: -0.12rem;
    top: 0.12rem;

}

.remark {
    padding: 0 0.22rem;
}
.remark_title {
    height: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.remark_title h2 {
    font-size:0.32rem;
    color: #41b2fc;
}
.remark_title h2 span {
    color: #4f5b64;
    font-size: 0.32rem;
}
.remark_title .all {
    font-size: 0.22rem;
    color: #3bacfe;
    position:relative;
    right: 0.3rem;
}
.remark_title .all:after {
    content: '\e713';
    font-family: "iconfont";
    position: absolute;
    color: #36a8fe;
    right: -0.26rem;
    top: 0.05rem;

}
.remark_list li {
    padding: 0.43rem 0;
    border-bottom: 1px solid #f0f5f7;
    display: flex;
}
.remark_list li img {
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0.01rem 0.21rem 0  rgba(223, 223, 223, 0.43);
    border: solid 0.04rem #fefefe;
}

.remark_list li  .remark_list_detail {
    margin-left: 0.22rem;
}

.renstar {
    color: #36a8fe;
}
.renstar:nth-child(4), .renstar:nth-child(5) {
     color: #e6e6e6;
}
.remark_list_detail {
    flex-grow: 1;
}
.remark_list_detail > .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.27rem;
    align-items: center;
}
.remark_list_detail .username {
    color: #cfcfcf;
    font-size: 0.2rem;
}
/*星星*/
.star_wrapper {
    width: 1.26rem;
    height: 0.19rem;
    margin-left: -1rem;
    position: relative;
}
.remark_list_detail .star {
    width: 1.26rem;
    height: 0.19rem;
}
.remark_list_detail .star .star_hidden {
    height: 100%;
    width:  100%;
    position: relative;
    overflow: hidden;
}

.remark_list_detail .star img,.remark_list_detail .nostar img {
    position: absolute;
    left:0;
    top: 0;
    border-radius: 0;
    width: 1.26rem;
    height: 0.19rem;
    background-color: transparent;
    border:none;
    box-shadow: none;
    display: block;
}
.remark_list_detail .remark_time {
    color: #9ed5ff;
    font-size: 0.22rem;
}
.remark_list_detail p {

    font-size: 0.26rem;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 0.18rem;
}
.remark_list_detail .address {
    color: #000000;
    opacity: 0.3;
    font-size: 0.22rem;
}
.address span {
    display: inline-block;
    margin-right: 0.2rem;
}
.buy_img {
    width: 1.78rem;
    height: 1.28rem;
    background-color: #ffffff;
    margin-top: 0.18rem;
}
.remark_list .buy_img img {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.shop_detail {
    padding: 0 0.22rem;
    border-bottom: 1px solid #f0f5f7;
    line-height: 0.88rem;
}
.shop_detail .title {
    color: #35db82;
    font-size: 0.32rem;
    position: relative;
    left: 0.25rem;
}
.shop_detail .title:before {
    content: '';
    position: absolute;
    width: 0.1rem;
    height: 0.05rem;
    background-color: #35db82;
    box-shadow: 0  0.02rem 0.05rem 0
    rgba(53, 219, 130, 0.43);
    border-radius: 0.03rem;
    left: -0.2rem;
    top: 0.4rem;
}
.shop_detail .title span {
    color: #4f5b64;

}
.like_recommend {
    border:none;
    height: auto;
    position: relative;
}

.like_recommend ul {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
    padding: 0 0.22rem;
    margin-top: 0.5rem;
    margin-bottom: 1.08rem;

}
.like_recommend ul li {
    height: 2.6rem;
    margin-bottom: 0.63rem;
}

.like_recommend ul li img {

    width: 1.31rem;
    height: 1.37rem;
}
.like_recommend ul li .detail_title {
    color: #000000;
    opacity: 0.6;
    font-size: 0.26rem;
    margin-top: -0.2rem;


}
.like_recommend ul li span {
    font-size: 0.28rem;
    color: #fbb548;
    display: block;
    margin-top: -0.4rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 7.49rem;
    height: 1.08rem;
    background-color: #f1faff;


}
footer img {
    width: 0.8rem;
    height: 0.8rem;
}
footer ul  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.22rem;
}

footer .car {
    font-size: 0.24rem;
    color: #ffffff;
    width: 1.96rem;
    height: 0.6rem;
    padding: 0.16rem 0.4rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%),
    linear-gradient(
            #3bacfe,
            #3bacfe);
    box-shadow: 0 0.04rem 0.2rem 0  rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
}
footer ul  span.order {
    background-color: #3bacfe;
    background-image: none;
    box-shadow: 0 0.05rem 0.12rem 0 rgba(59, 172, 254, 0.43);
}

footer ul li.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3bacfe;
    opacity: 0.8;
    font-size: 0.2rem;
}
footer ul li.icon  span {
    margin-top: -0.1rem;
}
footer ul li.icon:nth-child(2) span {
    color: #2ed977;
}