
@import "common.css";

body {
    width: 100%;
}
header {
    box-shadow: 0 0.03rem 0.43rem 0
    rgba(41, 167, 255, 0.13);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

header a img{
    display: block;
    margin-top: 0.2rem;
}
.cateory {
    height: 1rem;
    background-color: #fbfeff;

}
.cateory ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
.cateory ul li {
    margin-left: 0.25rem;
}

.cateory li.focus {
    background-color: #3bacfe;
    box-shadow: 0  0.05rem 0.12rem 0  rgba(59, 172, 254, 0.43);
    color: #fff;
}



.cateory li {
    width: 1.33rem;
    height: 0.52rem;
    background-color: rgba(59,172, 254,0.1);
    border-radius: 0.26rem;
    color: #3bacfe;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.52rem;
}


 .list_item div {
     width: 100%;
 }
 .list_item .price .spot {
     padding-left: 0.4rem;
 }
 .list_item .price .spot:before {
     content: '';
     display: inline-block;
     background: url("../image/seller.png") no-repeat 0 -0.2rem;
     background-size: contain;
     width: 0.6rem;
     height: 0.8rem;
 }

