header{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    line-height: 0.88rem;
    font-size: 0.38rem;
    color: #4ebbfe;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 43px 0px
    rgba(41, 167, 255, 0.13);
}
header >a{
    color: #4ebbfe;
}
.content1 > p{
    width: 100%;
    padding: 0.38rem 0.4rem 0.3rem 0.4rem;
    font-size: 0.32rem;
    color: #44b5ff;
    border-bottom: 0.02rem solid #f1f4f5;
}
.content1 > p > b{
    font-size: 0.32rem;
    color: #4f5b64;
}
.content1 > p::before{
    centent:"";
    width: 10px;
    height: 5px;
    background-color: #44b5ff;
    box-shadow: 0px 2px 5px 0px
    rgba(68, 181, 255, 0.43);
    border-radius: 3px;
    position: absolute;
    left: 2.4rem;
    top: 1.2rem;
}
.content1List li {
    font-size: 0.24rem;
    line-height: 1.5;
    color: #000000;
    opacity: 0.4;
    margin: 0.3rem 0.54rem;
}
.content2 > p{
    width: 100%;
    padding: 0.3rem 0.4rem;
    font-size: 0.32rem;
    color: #44b5ff;
    border-bottom: 0.02rem solid #f1f4f5;
}
.content2 > p > b{
    font-size: 0.32rem;
    color: #4f5b64;
}
.content2 > p::before{
    centent:"";
    width: 10px;
    height: 5px;
    background-color: #44b5ff;
    box-shadow: 0px 2px 5px 0px
    rgba(68, 181, 255, 0.43);
    border-radius: 3px;
    position: absolute;
    left: 2.4rem;
    top: 1.2rem;
}
.content2 .content2List {
    width: 100%;
    height: auto;
}
.content2List li{
    width: 100%;
    height: 1.8rem;
}
.content2List li .listImg{
    width: 1.13rem;
    height: 1.13rem;
    margin: 0.46rem 0.3rem;
    float: left;
}
/*.content2List .listContent{*/
/*    float: right;*/

/*}*/
/*.listContent span{*/
/*    font-size: 0.28rem;*/
/*    color: #000000;*/
/*    opacity: 0.7;*/
/*}*/
/*.listContent p{*/
/*    font-size: 0.24rem;*/
/*    color: #000000;*/
/*    opacity: 0.4;*/
/*}*/