body{
    background: #fbfeff;
}
header{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.22rem;
    line-height: 0.88rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #4ebbfe;
    font-size: 0.38rem;
    box-shadow: 0 20px 50px 0px
    rgba(41, 167, 255, 0.13);
    position: fixed;
    background: #ffffff;
    z-index: 99;
}
header>a{
    color: #4ebbfe;
    /*background: rgba(78,187,254,0.1);*/
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.subject {
    padding: 0.88rem 0.22rem 1.66rem 0.22rem;

}
.subject .text{
    margin: 0.36rem 0 0.26rem 0;
    font-size: 0.26rem;
    color: rgba(0,0,0,0.4);
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.subject .chice{
    border-radius:0.1rem ;
    padding: 0 0.3rem;
    background: #ffffff;
    box-shadow: 0px 1px 21px 0px
    rgba(223, 223, 223, 0.43);
}
.subject .chice  li{
    padding: 0.21rem 0;
    /*border-radius: 0.1rem;*/
    border-bottom: 0.01rem solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subject .chice li:nth-child(3){
    border-bottom: 0.01rem solid #ffffff;
}

.subject .chice li span:nth-child(1){
    font-size: 0.24rem;
    color: #8a8c8d;
 }
.subject .chice li span:nth-child(2) span:nth-child(2){
    display: inline-block;
    height: 0.12rem;
    width: 0.12rem;
    padding-bottom:0.01rem ;
    padding-left: 0.01rem;
    border-radius: 50%;
    border: 0.02rem solid  #36a8fe;
}
.subject .chice li span:nth-child(2) span:nth-child(1){
    color: #36a8fe;
    position: relative;
}
.subject .chice li span:nth-child(2) span:nth-child(1):before{
    content: '';
    height: 0.06rem;
    width: 0.06rem;
    border-radius: 50%;
    background:#36a8fe ;
    position: absolute;
    top: 0.15rem;
    right: -0.2rem;
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.number {
    font-size: 0.24rem;
    color: #8a8c8d;
    margin-top: 0.23rem;
    padding: 0 0.3rem;
    border-radius: 0.1rem;
    background: #ffffff;
    box-shadow: 0px 1px 21px 0px rgba(223, 223, 223, 0.43);

}

.number li{
    padding:0.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01rem solid rgba(0,0,0,0.1);
}
.number li:nth-child(4){
    border-bottom: none;
}
.number li span:nth-child(4){
    flex-basis: 1.84rem;
    font-size: 0.27rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.number li span:nth-child(4) span:nth-child(1),.number li span:nth-child(4) span:nth-child(3){
    height: 0.44rem;
    width: 0.74rem;
    display: inline-block;
}
.number li span:nth-child(4) span:nth-child(1) img,.number li span:nth-child(4) span:nth-child(3) img{
    height: 0.44rem;
    width: 0.74rem;
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.upload{
    margin:0.3rem 0 0.24rem 0;
    color: rgba(0,0,0,0.4);
    font-size: 0.26rem;
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.camera a{
    height: 1rem;
    width: 1rem;
}
.camera a img{
    height: 1rem;
    width: 1rem;
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.text1{
    font-size: 0.24rem;
    color: #b9c9d2;
    height: 1.27rem;
    margin: 0.3rem 0 0.1rem 0 ;
    padding: 0.3rem;
    border-radius: 0.1rem;
    background: #e7f6ff;
}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.subject .bottom {
    background: #ffffff;
}
.subject .bottom li{
    font-size: 0.22rem;
    color: rgba(0,0,0,0.4);
    padding:0.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01rem solid rgba(0,0,0,0.1);
}
.subject .bottom li span:nth-child(1){
    font-size: 0.24rem;
    color: #8a8c8d;
    padding-left: 0.16rem;
    position: relative;
}
.subject .bottom li span:nth-child(1):before{
    content: '';
    height: 0.05rem;
    width: 0.05rem;
    background: #44b5ff;
    border-radius: 50%;
    position: absolute;
    top: 0.16rem;
    left: 0;
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
footer{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0.22rem ;
    background: #fbfeff;
    position: fixed;
    bottom: 0;
    left: 0;
}
footer span{
    display: flex;
    align-items: center;
}
footer span span:nth-child(1){
    font-size: 0.24rem;
    padding: 0 0.16rem;
    color: rgba(59,172,254,0.4);
    position: relative;
}
footer span span:nth-child(1):before{
    content: '';
    height: 0.05rem;
    width: 0.05rem;
    background: #44b5ff;
    border-radius: 50%;
    position: absolute;
    top: 0.16rem;
    left: 0;
}
footer span span:nth-child(2){
    font-size: 0.36rem;
    color: #36a8fe;
}
footer a{
    width: 3.8rem;
    height: 0.6rem;
}
footer a img{
    width: 3.8rem;
    height: 0.6rem;
}
