@import "base.css";
html {
    font-size: 100px; }

body {
    font-size: 16px; }

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }
/*rem*/
header{
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.38rem;
    color: #4ebbfe;
    background: #fbfeff;
}

.search{
    padding: 0.17rem 0.22rem;
    height: 0.6rem;
    line-height: 0.6rem;
}
.search >span{
    float: left;
    color: #4ebbfe;
    font-size: 0.28rem;
}
.search >a{
    float: right;
    width: 5.93rem;
    height: 0.6rem;
    border: 0.01rem solid #ebf7ff;
    border-radius: 0.3rem;
}
/*search*/
.rollPhoto{
    height: 3.07rem;
    /*padding: 0.17rem;*/
    background: #fafeff;
}
.rollPhoto>img{
    width: 100%;
    height: 100%;
}
.category{
    padding: 0.22rem;
    height: 6.9rem;
    background: rgb(250, 254, 255);
    display: flex;
    /*!*flex-direction: row;*!默认为主轴从左向右*/
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
}
.category>li{
    width: 2.2rem;
    height: 1.94rem;
    background: #fafeff;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: space-around;*/

}
.category>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.category>li img{
    width: 1.13rem;
    height: 1.13rem;
}
.category>li p{
    color: #8e9397;
}
.menu{
    width: 100%;
    height: 0.98rem;
    padding: 0.12rem 0 0 ;
    background: #f1f9ff;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    position: absolute;
    bottom: 0;
}
.menu>li{
    width: 1rem;
    height: 0.98rem;
    background: #f1f9ff;

}
.menu>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.menu>li img{
    width: 0.51rem;
    height: 0.51rem;
}
.menu>li p{
    color: #4ebbfe;
}