@import "base.css";
html {
    font-size: 100px; }

body {
    font-size: 16px; }

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }
/*rem*/
header{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    line-height: 0.88rem;
    color: #4ebbfe;
    background: #fbfeff;
    font-size: 0.38rem;
}
header> span{
    color: #4ebbfe;
}
header>a:first-child{
    color: #4ebbfe;
}

/*header*/
.order{
    height: 0.88rem;
    padding: 0 0.8rem;
    display: flex;
    justify-content: space-between;
    line-height: 0.88rem;
    font-size: 0.22rem;
    color: #4ebbfe;
}
.order>li.hot{
    color: #36d681;
}
.order >li >.iconfont{
    font-size: 0.22rem;
    margin-left: 0.2rem;
}
/*order*/

.list{
    width: 100%;
    position: absolute;
    top: 1.8rem;
    bottom: 0;
    padding: 0 0.22rem;
    box-sizing: border-box;
    overflow: hidden;
}

.listItem{
    height: 1.74rem;
    margin-bottom: 0.66rem;
    position: relative;
}
.listItem>a{
    width: 100%;
    height: 100%;
}
.thumb{
    width: 1.74rem;
    height: 1.74rem;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0.01rem 0.21rem 0 rgba(223,223,223,0.43);
    border-radius: 0.1rem;
}
.thumb img{
    width: 1.19rem;
    height: 1.19rem;
}

.info{
    width: calc(100% - 2.02rem) ;
    height: 100%;
    float: left;
    padding-left: 0.28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info > h1{
    font-size: 0.3rem;
    font-weight: normal;
    letter-spacing: 0.03rem;
    color: rgba(0,0,0,0.6);

}
.info >.score{
    font-size: 0.22rem;
    color: rgba( 0,0,0,0.3);
}
.info>.score > span{
    position: relative;
    padding-left: 0.14rem;
    margin-right: 0.58rem;
}
.info>.score > span::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0.12rem;
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 0.03rem;
    background: #44b5ff;
}
.info >.score strong{
    font-size: 0.26rem;
    color: #36a8fe;
}
.info >.score strong.sign{
    color: #b9e1ff

}
.info > .tag{
    font-size: 0.2rem;
    color: #36a8fe;
}
.tag span{
    padding: 0.08rem 0.2rem;
    background: rgba(59,171,255,0.1);
    margin-right: 0.1rem;
    border-radius: 0.22rem;
}
.info >.total{
    font-size: 0.18rem;
    color: rgba(0,0,0,0.3);
}
.info >.total>.number{
    font-size: 0.22rem;
    color: rgba(0,0,0,0.2);
}
.price{
    position: absolute;
    right: 0.06rem;
    bottom: 0;
    font-size: 0.26rem;
    color: #fbb548;
}

