body{
    background: #fbfeff;
}
header{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.22rem;
    line-height: 0.88rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #4ebbfe;
    font-size: 0.38rem;
    box-shadow: 0 20px 50px 0px
    rgba(41, 167, 255, 0.13);
    position: fixed;
    background: #ffffff;
    z-index: 99;
}
header>a{
    color: #4ebbfe;
    /*background: rgba(78,187,254,0.1);*/
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.blue {
    height:1.68rem ;
    /*margin-top: 0.88rem;*/
    padding:  1.10rem 0.26rem 0.22rem 0.26rem;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;

    background: #3bacfe;

    /*line-height: 0.88rem;*/
    box-shadow: 0px 3px 43px 0px  rgba(41, 167, 255, 0.13);
}
.blue a:nth-child(1) div{
    line-height: 0.36rem;
    padding-left: 0.28rem;
    font-size: 0.36rem;
    color: #ffffff;
    position: relative;
}
.blue a:nth-child(1) div:before {
    content: '';
    width: 0.16rem;
    height: 0.08rem;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px
    rgba(59, 172, 254, 0.43);
    border-radius: 4px;
    position: absolute;
    top: 0.14rem;
    left: 0;
}
.blue a:nth-child(2){
    line-height: 0.36rem;
    padding-right:0;
    font-size: 0.26rem;
    color: #bae6ff;
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.subject {
    /*height: 1.74rem;*/
    width: auto;
    padding: 0 0.22rem;
    margin-bottom: 1.2rem;
}
.subject .order{
    margin-top: 0.44rem;
    display: flex;
}
.subject .AI {
    height: 1.74rem;
    width: 1.74rem;
    margin-right: 0.26rem;
    order: 0;
}
.subject .AI img{
    height: 1.74rem;
    width: 1.74rem;
}
.subject .Atext{
    display: block;
    height: 1.74rem;
    width: calc(100%- 2.18rem );
    order: 1;
}
.subject .Atext ul li{
    width: 100%;
    display: inline-block;
}
.subject .Atext .black{
    display: inline-flex;
    justify-content: space-between;
}
.subject .Atext .black span:nth-child(1){
    font-size: 0.3rem;
    color : rgba(0,0,0,0.6);
    display: inline-block;
}
.subject .Atext .black span:nth-child(2){
    font-size: 0.26rem;
    color: #43c93e;
    display: inline-block;
}
.subject .Atext .date{
    padding-left: 0.16rem;
    position: relative;
}
.subject .Atext .date:before{
    content: '';
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background:#44b5ff ;
    position: absolute;
    top: 0.22rem;
    left: 0;
}
.subject .Atext .date span:nth-child(1){
    font-size: 0.22rem;
    color : rgba(0,0,0,0.3);
}
.subject .Atext .date span:nth-child(2){
    font-size: 0.26rem;
    color: #36a8fe;
}
.subject .Atext .date{
    margin: 0.22rem 0 0.3rem 0;
}
.subject .Atext .money{
    font-size: 0.26rem;
    color: #fbb548;

}
.subject .Atext .money{
    padding-left: 0.16rem;
    position: relative;
}
.subject .Atext .money:before{
    content: '';
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background:#44b5ff ;
    position: absolute;
    top: 0.17rem;
    left: 0;
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.subject .door {
    margin-top: 0.76rem;
    border-radius: 0.1rem;
    background: #ffffff;
    box-shadow: 0px 1px 21px 0px
    rgba(223, 223, 223, 0.43);
}
.subject .door li{
    width: calc(100% - 1.04rem);
    /*height: 0.87rem;*/
    /*border-radius: 0.1rem;*/
    padding: 0.32rem 0.52rem;
    /*margin:0  0;*/
    border-bottom: 0.01rem solid rgba(0,0,0,0.1);
    display: flex;
    position: relative;
}
.subject .door li:before{
    content: '';
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background: #44b5ff;
    position: absolute;
    top: 0.46rem;
    left: 0.32rem;
}
.subject .door ul li span:nth-child(1){
    width: 1.2rem;
    font-size: 0.24rem;
    color: rgba(0,0,0,0.4);
}
.subject .door ul li span:nth-child(2){
    width: calc(100% - 1.2rem);
    font-size: 0.24rem;
    color: rgb(138,140,141);
}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.subject .team {
    height: auto;
    width: 100%;
    margin-top: 0.24rem;
    border-radius: 0.1rem;
    background: #ffffff;
    box-shadow: 0px 1px 21px 0px
    rgba(223, 223, 223, 0.43);
    float: left;
}

.subject .team .teamOne{
    /*height: ;*/
    padding: 0.2rem 0.3rem;
    /*line-height: 0.5rem;*/
    display: flex;
    justify-content: space-between;
    border-bottom: 0.01rem solid rgba(0,0,0,0.1);
}
.subject .team .teamOne span{
    font-size: 0.24rem;
    color: #3aa9fb;
    display: flex;
    align-items: center;
}
.subject .team .teamOne a{
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
}
.subject .team .teamOne a img{
    width: 0.5rem;
    height: 0.5rem;
}
.subject .team .teamOne a:nth-child(3){
    margin-left: 1rem;

}

.subject .team .teamTwo{
   padding: 0.3rem 0 0.3rem 0.56rem;
    font-size: 0.24rem;
    color: #8a8c8d;
    /*padding-left: 0;*/
    position: relative;
}
.subject .team .teamTwo:before{
    content: '';
    width: 0.05rem;
    height: 0.05rem;
    background: #44b5ff;
    position: absolute;
    top: 0.46rem;
    left: 0.32rem;
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.subject .number {
    height: auto;
    width: 100%;
    margin-top: 0.24rem;
    border-radius: 0.1rem;
    background: #ffffff;
    box-shadow: 0px 1px 21px 0px
    rgba(223, 223, 223, 0.43);
    float: left;
}

.subject .number div{
    padding: 0.23rem 0.23rem 0.23rem 0.56rem;
    position: relative;
}
.subject .number div:before{
    content: '';
    width: 0.05rem;
    height: 0.05rem;
    background: #44b5ff;
    position: absolute;
    top: 0.46rem;
    left: 0.32rem;
}
.subject .number div:nth-child(1){
    border-bottom: 0.01rem solid rgba(0,0,0,0.1);
}
.subject .number div span:nth-child(1){
    font-size: 0.24rem;
    color: rgba(0,0,0,0.4);
}
.subject .number div span:nth-child(2){
    font-size:0.24rem ;
    color: #8a8c8d;
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
footer{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0.3rem 0.24rem 0.3rem 2.3rem;
    background: #fbfeff;
    position: fixed;
    bottom: 0;
    left: 0;
}
footer a:nth-child(1){
    width: 1.96rem;
    height: 0.6rem;
}
footer a:nth-child(1) img{
    width: 1.96rem;
    height: 0.6rem;
}
footer a:nth-child(2){
    width: 2.69rem;
    height: 0.6rem;
}
footer a:nth-child(2) img{
    width: 2.69rem;
    height: 0.6rem;
}