@import"common.css";

.title {
    margin-top: 0.2rem;
}
.search_history {
    padding: 0 0.60rem;
    margin-top: 0.24rem;

}
.search_history span {
    color: #36a8fe;
    font-size: 0.26rem;
    background-color: #e7f6ff;
    border-radius: 24px;
    padding: 0.08rem 0.20rem;
    margin-bottom: 0.2rem;
    display: inline-block;
    margin-right: 0.2rem;
    opacity: 0.6;
}


