@import "general.css";


header {
    font-size: 0.38rem;
    line-height: 1rem;
    height: 1rem;
    color: #4ebbfe;
    text-align: center;
    position: relative;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
}

header .iconfont {
    line-height: 1rem;
    font-size: 1.2rem;
    position: absolute;
    left: 0;
}
header a{
    color:#4ebbfe;
}

.dizhi{
    height: 2.18rem;
    margin: 0.4rem 0.22rem;
}
.xinzengdizhi{
    width: 4.54rem;
    height: 0.6rem;
    position: absolute;
    left: 1.46rem;
    bottom: 0.44rem;

}